<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lane's Portfolio</title>
    <link type="text/css" rel="stylesheet" href="/sass/styles.css" />
  </head>
  <body>
    <div class="contact">
      <a href="/images/resume.pdf"><p>Resumé</p></a>
      <a href="mailto:laneyoder@gmail.com"><p>Email</p></a>
    </div>

<img src="/images/ink.png" class="header-image" />

    <div class="id">
      <a href="/index.html"><img src="/images/ly.png" /></a>
      <h1>LANE YODER</h1>
    </div>

    <div class="nav">
      <p><a href="/graphic-design.html">Graphic Design</a></p>
      <p><a href="/web-design.html">Web Design</a></p>
      <p><a href="/photography.html">Photography</a></p>
    </div>
