<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Lane's Portfolio</title>
    <link type="text/css" rel="stylesheet" href="/styles.css" />

<style>

body {
  margin:0;
  font-size: 62.5%;
}

.contact {
  float:right;
}

.contact img {
  width: 30px;
}

.id {
  text-align:center;
}

.main-content {
  width:50%;
  margin-left:auto;
  margin-right:auto;
  font-family: "Josefin Sans", sans-serif;
}

.nav {
  display: flex;
  width:400px;
}

.work {
  list-style:none;
}

.work li {
  width:60px;
}

</style>

  </head>
  <body>
