{% include header.html %}

<div class="contact"
<a href="mailto:laneyoder@gmail.com"><img src="images/email-icon.png" class="email"></a>
<a href="https://www.instagram.com/laneeyoder/"><img src="images/instagram-icon.png" class="insta"></a>
</div>


<img src="images/ink.png" class="header-image">

<div class="main-content">

  <div class="id">
    <img src="images/ly.png">
    <h1>LANE YODER</h1>
  </div>

{{content}}

</div>

<img src="images/ink2.png" class="footer-image">

{% include footer.html %}
