{% include header.html %}

<div class="contact"
<a href="mailto:laneyoder@gmail.com"><img src="images/email-icon.png" class="email"></a>
<a href="https://www.instagram.com/laneeyoder/"><img src="images/instagram-icon.png" class="insta"></a>
</div>

<div class="id">
  <a href="index.html"><img src="images/ly.png"></a>
  <h1>LANE YODER</h1>
</div>

<img src="images/ink.png" class="header-image">

<div class="nav">
  <p><a href="graphic-design.html">Graphic Design</a></p>
  <p><a href="web-design.html">Web Design</a></p>
  <p><a href="photography.html">Photography</a></p>
</div>

<div class="main-content">

{{content}}
<ul class="graphic-design-work work">
  {% for work in site.graphic-design %}
  <li><a href="{{work.url}}"><img src="{{work.image}}" class="thumbnail"></a></li>
  {% endfor %}
</ul>

</div>

<img src="images/ink2.png" class="footer-image">

{% include footer.html %}
